body {
    background-color: #D18F22;
  }
  h1 {
    color: #ecd9b6;
    font-family: Courier;
    font-size: 48px;
  }
  h2 {
    color: #ecd9b6;
    font-family: verdana;
    font-size: 24px; 
  }
  p {
    color: #ecd9b6;
    font-family: verdana;
    font-size: 16px;
  }

footer {
    color: #573e11;
}